html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    background: url(img/papier2.jpg);
}

::-webkit-scrollbar {
    display: none;
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.one {
    width: calc(100vw - 150px);
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: start;
}

.one h1 {
    width: 100%;
    font-size: 80px;
    text-align: right;
    margin-right: 100px;
    margin-top: 200px;
}

.one a {
    width: 100%;
    font-size: 30px;
    padding-left: 500px;
    color: black;
}

main {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
}

.container {
    width: 600vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

nav {
    width: 200px;
    height: 100vh;
    background: #D7C5AB;
    position: fixed;
    left: -150px;
    transition: 0.5s;
    z-index: 3;
}

.show-nav {
    left: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 0;
    margin: 0;
}

.ul1 {
    height: 70vh;
}

.ul2 {
    height: 20vh;
    align-items: end;
    margin-top: 50px;
}

li {
    padding-left: 30px;
    list-style: none;
    width: 60%;
    text-align: center;
}

a {
    text-decoration: none;
    width: 100%;
    text-align: center;
}