html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    background: url(img/papier2.jpg);
}

::-webkit-scrollbar {
    display: none;
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.one {
    width: calc(100vw - 150px);
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: start;
}

.one h1 {
    width: 100%;
    font-size: 80px;
    text-align: right;
    margin-right: 100px;
    margin-top: 200px;
}

.one a {
    width: 100%;
    font-size: 30px;
    padding-left: 500px;
    color: black;
}

main {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
}

.container {
    width: 600vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

nav {
    width: 200px;
    height: 100vh;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    background: #D7C5AB;
    position: fixed;
    left: -150px;
    transition: 0.5s;
    z-index: 3;
}

.chkbtn {
    transform: scale(0.3);
    padding-left: 50px;
    margin: -80px 0 -80px 80px;
}

.clsbtn {
    display: none;
    transform: scale(0.3);
    padding-left: 50px;
    margin: -30px 0 -80px 80px;
}

.chkbtn:hover {
    transform: scale(0.35);
    transition: 0.2s ease;
    cursor: pointer;
}

.clsbtn:hover {
    transform: scale(0.35);
    transition: 0.2s ease;
    cursor: pointer;
}

.show-nav {
    left: 0;
}

/* #progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 5px;
    height: 100vh;
    background-color: black;
    z-index: 10;
} */

ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 0;
    margin: 0;
}

.ul1 {
    height: 70vh;
}

.ul2 {
    height: 20vh;
    align-items: end;
    margin-top: 60px;
}

li {
    padding-left: 30px;
    list-style: none;
    width: 60%;
    text-align: center;
}

.nav-item:hover {
    background-color: #b9ab96;
    transform: translateX(20px);
    font-weight: 600;
    transition: 0.5s ease;
    border-right: 30px solid #fff;
}

a {
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

#about {
    text-align: center;
    font-family: Montserrat, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #D7C5AB;
    position: absolute;
    top: 0;
    left: -100vw;
    transition: 0.5s;
    z-index: 2;
}

#ml {
    text-align: center;
    font-family: Montserrat, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #D7C5AB;
    position: absolute;
    top: 0;
    left: -128vw;
    transition: 0.5s ease;
    z-index: 2;
}

#questions {
    height: 50%;
}

#about h2, #ml h2 {
    padding: 20px 0 0 0;
}

#about h3 {
    width: 15%;
    height: 2rem;
    text-align: left;
    padding-left: 20%;
    margin-top: 3rem;
}

#about h3:hover {
    cursor: pointer;
    transform: translateX(5px);
    transition: 0.2s ease;
}

#about p{
    width: 50%;
    display: none;
    text-align: left;
    padding: 0 0 0 20%;
}

.team img {
    width: 70%;
    border-radius: 50%;
    margin-top: 30px;
    padding-bottom: 10px;
}

.team {
    padding-left: 120px;
    width: 85%;
    margin: auto;
    display: none;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mlcontent {
    width: 70%;
    height: 80%;
    padding: 20px 20px;
    margin: 30px 0 0 300px;
    overflow: auto;
    text-align: justify;
    background-color: #cab9a1;
    border-radius: 20px 20px 0 0;
}

.mlcontent::-webkit-scrollbar {
    display: none;
}

.rtnbtn {
    width: 40px;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.rtnbtn:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
    background-color: #b9ab96;
    border-radius: 50px;
}

#about.show-about, #ml.show-about {
    left: 0;
}