main {
    .sect8 {
        h2 {
            font-size: 60px;
            font-family: 'MedievalSharp', cursive;
        }
        .art18 {
            width: 600px;
            height: 300px;
            background-color: $gold;
            position: absolute;
            left: 515vw;
            bottom: 10%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            padding: 0 3rem;
            font-size: 1rem;
            box-shadow: 10px 10px 8px #0000004d;
            font-family: 'IM Fell English SC', serif;
            &::before {
                width: fit-content;
                height: 200px;
                content: 'La naissance de Mordred';
                position: inherit;
                top: -300px;
                font-family: Montserrat, sans-serif;
                font-size: 1.5rem;
            }
        }
        
        .art19 {
            width: 600px;
            height: 300px;
            background-color: $gold;
            position: absolute;
            left: 565vw;
            bottom: 10%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            padding: 0 3rem;
            font-size: 1rem;
            box-shadow: 10px 10px 8px #0000004d;
            font-family: 'IM Fell English SC', serif;
            &::before {
                width: fit-content;
                height: 200px;
                content: "Le coup d'état";
                position: inherit;
                top: -300px;
                font-family: Montserrat, sans-serif;
                font-size: 1.5rem;
            }
        }
        .art20 {
            width: 600px;
            height: 300px;
            background-color: $gold;
            position: absolute;
            left: 590vw;
            bottom: 10%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            padding: 0 3rem;
            font-size: 1rem;
            box-shadow: 10px 10px 8px #0000004d;
            font-family: 'IM Fell English SC', serif;
            &::before {
                width: fit-content;
                height: 200px;
                content: 'La mort du roi';
                position: inherit;
                top: -300px;
                font-family: Montserrat, sans-serif;
                font-size: 1.5rem;
            }
        }
    }
}