main {
    .sect4 {
        h2 {
            font-size: 60px;
            font-family: 'MedievalSharp', cursive;
            padding: 2%;
        }
        .art4 {
            width: 600px;
            height: 300px;
            background-color: $gold;
            position: absolute;
            left: 320vw;
            bottom: 10%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            padding: 0 3rem;
            font-size: 1rem;
            box-shadow: 10px 10px 8px #0000004d;
            font-family: 'IM Fell English SC', serif;
            &::before {
                width: fit-content;
                height: 200px;
                content: 'Une épée (pas si) légendaire';
                position: inherit;
                top: -300px;
                font-family: Montserrat, sans-serif;
                font-size: 1.5rem;
            }
        }
        .art5 {
            width: 600px;
            height: 300px;
            background-color: $gold;
            position: absolute;
            left: 341vw;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            box-shadow: 10px 10px 8px #0000004d;
            font-family: 'IM Fell English SC', serif;
            img {
                width: 250px;
                height: 250px;
                box-shadow: 5px 5px 8px #0000004d;
            }
            &::before {
                width: fit-content;
                height: 200px;
                content: 'L épée d arthur';
                position: inherit;
                bottom: -400px;
                font-family: 'MedievalSharp', cursive;
                font-size: 1.5rem;
            }
        }
        .art6 {
            width: 600px;
            height: 300px;
            background-color: $gold;
            position: absolute;
            left: 365vw;
            bottom: 10%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            padding: 0 3rem;
            font-size: 1rem;
            box-shadow: 10px 10px 8px #0000004d;
            font-family: 'IM Fell English SC', serif;
            &::before {
                width: fit-content;
                height: 200px;
                content: 'Le nouveau roi et l’unification de la Bretagne';
                position: inherit;
                top: -300px;
                font-family: Montserrat, sans-serif;
                font-size: 1.5rem;
            }
        }
        .art7 {
            width: 600px;
            height: 300px;
            background-color: $gold;
            position: absolute;
            left: 390vw;
            bottom: 10%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            padding: 0 3rem;
            font-size: 1rem;
            box-shadow: 10px 10px 8px #0000004d;
            font-family: 'IM Fell English SC', serif;
            &::before {
                width: fit-content;
                height: 200px;
                content: 'Premières batailles';
                position: inherit;
                top: -300px;
                font-family: Montserrat, sans-serif;
                font-size: 1.5rem;
            }
        }
    }
}